
        body {
              /* font-family: 'Roboto', sans-serif; */
              font-family: 'Montserrat', Sans-Serif;
        }
        
        .js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar { }
        .js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar, .js-irs-1 .irs-from, .js-irs-1 .irs-to {background: red;
                                                    border-top: 1px solid red ;
                                                    border-bottom: 1px solid red ;}
        .subtitle { padding-left: 15px;
                    color: #808080; }
        .selectize-input { max-height: 200px;
                           overflow-y: auto;}
        .leaflet-control-zoom { z-index: -1;
                                color = 'red';}
                                
        .navbar,
.navbar-default {
    min-height: 40px;
    font-size: 3;
} 


.navbar-default .navbar-brand {
    min-height: 40px;
    line-height: 40px;
    font-weight: bold;
}


.navbar-default .navbar-nav>li>a {
    min-height: 40px;
    line-height: 40px;
}
                                
#map1 { 
  position: fixed; 
  top: 0; 
  left: 0;
  padding: 0;
  margin: 0;
} 

.map1-controls {
  position: relative;
  width: 28vw;
  display: inline-block;
  z-index: 1000; 
  background: #f8f8f8;
  color: #777777;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.control-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

        .toggle-icon {
          cursor: pointer;
        }
        
        .map1-controls.collapsed {
          height: auto;
          overflow: hidden; 
        }
        
        .map1-controls.collapsed .control-content {
          display: none;
        }
             
        .map1-controls .control-content {
          padding-top: 20px;
          border-top: 1px solid #ddd;
        }
      
        .map1-controls .control-content .slider-container label {
          font-weight: normal;
          margin-left: -20px;
        }
        
        .map1-controls .control-content .slider-container {
          margin-left: 20px;
        }